<h2 class="text-white block"> add a new channel to <%= @workspace.name %> </h2>
<%=  turbo_frame_tag "new_channel_form" do %>
  <%=
    form_with(
      model: @channel,
      url: workspace_channels_path(@workspace, @channel),
      class: "flex flex-col gap-1",
      data: { turbo: false }
    ) do |form| 
  %>
      <%= render partial: 'partials/form_fields/text_field', locals: { 
        form: form,
        model_field: :name,
        resource: @workspace,
        placeholder: "My new channel name",
        extra_classes: "rounded-none",
      } %>

      <% if @workspace_members %>
        <%= render partial: 'partials/form_fields/list_of_selectable_members', locals: {
          resource: :channel,
          members: @workspace_members,
          field: :members_ids_selected
        } %>
      <% else %>
        <span class="block text-white text-base font-sans"> no members to add to this channel </span>
      <% end %>

      <div class="flex justify-between gap-1">
        <%= form.submit(
          "create",
          class: "block btn rounded"
        ) %>
        <%= link_to(
          "cancel",
          workspace_path(@workspace),
          class: "block btn",
          data: { turbo: false }
        ) %>
      </div>
  <% end %>
<% end %>