<div id="channel_sidebar"
      class="w-full
             bg-black-dark
             bg-opacity-75
             xl:w-1/5
             h-full
             absolute
             xl:static
             max-xl:hidden
             max-xl:z-40
             top-0
             left-0
             grid
             grid-rows-[auto,1fr,75px]
             grid-cols-[1fr,auto]
             xl:grid-cols-[full]"
>
  <%= render(
    partial: 'partials/workspace_channel/members_list',
    locals: {
      workspace_channel: @channel,
      workspace: @workspace,
      user: current_user,
      channel_members: @channel_members
    }
  ) %>
  <div class="xl:hidden
              m-2
              sm:m-4
              h-fit
              fill-white"
    data-controller="channelSidebar"
    data-action="click->channelSidebar#close"
  >
    <%= render(Primer::Beta::Octicon.new(:x, size: :medium)) %>
  </div>
</div>

<div class="w-full xl:w-4/5 flex">
  <div class="flex-grow h-full grid grid-rows-[70px,1fr,auto]">
    <div class="flex
                justify-start
                bg-black-soft
                gap-4
                py-4
                pr-5
                pl-8
                mb-5
                with-shadow
                w-full
                row-start-1"
    >
      <div class="xl:hidden
                  h-fit
                  w-fit
                  rounded-sm
                  fill-white"
        data-controller="channelSidebar"
        data-action="click->channelSidebar#open"
      >
        <%= render(Primer::Beta::Octicon.new(:"three-bars", size: :medium)) %>
      </div>
      <h2 class="text-white text-noto-18-700">
        <%= @channel.name.upcase %>
      </h2>
    </div>

    <div class="flex
                flex-col
                gap-9
                w-full
                row-start-2
                bg-black-soft
                overflow-y-auto
                py-4
                sm:pt-14
                sm:pb-20
                sm:px-16"
      id=<%= "#{dom_id(@channel)}_messages" %>
    >

      <%= render(
        partial: 'partials/workspace_channel/messages_list',
        locals: {
          messages: @messages
        }
      ) %>
    </div>

    <div id='channel_message_box'
      class="w-full
             row-start-3
             bg-black-soft"
    >
      <%= render(
        partial: 'partials/workspace_channel/new_message',
        locals: {
          url: workspace_channel_messages_path(@workspace, @channel)
        }
      ) %>
    </div>
  </div>
  <%= turbo_frame_tag "tool_sidebar" %>
</div>

