<% if !channel.public %>
  <a class="block fill-white"
    data-turbo-method="patch"
    href=<%= workspace_channel_path(workspace, channel, channel: { public: true }) %>
  >
    <%= render(Primer::Beta::Octicon.new(:unlock, size: :medium)) %>
  </a>
<% end %>

<% if channel.public %>
  <a class="block fill-white"
    data-turbo-method="patch"
    href=<%= workspace_channel_path(workspace, channel, channel: { public: false }) %>
  >
    <%= render(Primer::Beta::Octicon.new(:lock, size: :medium)) %>
  </a>
<% end %>

<% if policy(workspace).leave_channel?(channel) %>
  <a class="block fill-white">
    <%= render(Primer::Beta::Octicon.new(:"sign-out", size: :medium)) %>
  </a>
<% end %>

<% if policy(workspace).delete_channel?(channel) %>
  <a class="block fill-red"
    data-turbo-method="delete"
    href=<%= workspace_channel_path(workspace, channel) %>
  >
    <%= render(Primer::Beta::Octicon.new(:"x-circle-fill", size: :medium)) %>
  </a>
<% end %>

<a class="block fill-white">
  <%= render(Primer::Beta::Octicon.new(:x, size: :medium)) %>
</a>
