<%# locals: {
  workspace: @workspace,
  user: current_user,
  channels: @channels
} %>

<div class="flex
            flex-col
            with-shadow
            w-full
            bg-black
            row-start-1
            col-start-1"
>
  <div class="flex
              justify-between
              gap-4
              py-4
              pr-5
              pl-8
              with-shadow
              w-full
              h-[60px]"
  >
    <h2 class="text-noto-18-700 text-white">Channels</h2>

    <% if can?(workspace, :create, Channel) %>
      <a class="block
                w-6
                h-6
                bg-black-soft
                text-white
                text-center
                fill-white"
        data-turbo-frame="new-channel-modal"
        data-turbo-frame-loading="eager"
        data-action="click->loading#start"
        data-loading-turbotarget-value="new-channel-modal"
        href=<%= new_workspace_channel_path(workspace) %>
      >
        <%= render(Primer::Beta::Octicon.new(:plus, size: :medium)) %>
      </a>
    <% end %>
  </div>

  <form class="block flex flex-col pt-5 pr-5 pl-8 mb-8" data-turbo="false" accept-charset="UTF-8">
    <label
      class="block flex py-3 px-2.5 rounded-lg bg-grey hover:cursor-pointer"
      for="search_channel_name"
    >
      <img
        src=<%= user.avatar_url %>
        class="block w-4 h-4 rounded-lg self-center"
      >

      <input
        placeholder="My new channel name"
        class="text-noto-14-500
              outline-none
              w-full
              border-0
              bg-grey
              text-grey-soft
              focus:outline-none
              focus:ring-0"
        type="text"
        name="search_channel[name]"
        id="search_channel_name">

      <input
        type="submit"
        name="commit"
        value="create"
        class="hidden block btn rounded"
        data-disable-with="create">
    </label>
  </form>

</div>

<div class="w-full
            flex
            flex-col
            gap-5
            pb-6
            pr-5
            pl-8
            bg-black
            overflow-y-auto
            row-start-2
            col-start-1"
>
  <% channels.each do |workspace_channel| %> 
    <a
      class="block flex gap-3"
      href=<%= workspace_channel_path(workspace, workspace_channel) %>
    >
      <img
        src=<%= workspace_channel.avatar_url %>
        class="block w-11 h-11 rounded-lg self-center"
      >
      <span class="block self-center text-noto-18-700 text-white">
        <%= workspace_channel.name.upcase %>
      </span>
    </a>
  <% end %>
</div>

<div class="w-full flex justify-between py-4 pr-5 pl-8 with-shadow bg-black-dark h-full row-start-3 col-start-1">
  <%= render(
    partial: 'partials/workspace_channel/current_user_bar',
    locals: {
      user:,
    }
  ) %>
</div>

<div class="xl:hidden
              m-4
              h-fit
              fill-white
              row-start-1
              col-start-2
              hover:cursor-pointer"
    data-controller="channelSidebar"
    data-action="click->channelSidebar#close"
  >
    <%= render(Primer::Beta::Octicon.new(:x, size: :medium)) %>
  </div>

