<div class="flex w-full justify-between items-center relative"
  id=<%="#{dom_id(member)}_member_card"%>
  data-controller="membercard"
  data-membercard-optionslistid-value=<%="#{dom_id(user)}_#{dom_id(member)}_options"%>
  data-sender-id=<%= user.id %>
  data-channel-id=<%= channel.id %>
>
  <a
    class="block w-full flex gap-7 justify-start"
    href=<%= workspace_user_path(workspace, member) %>
    data-turbo-frame="tool_sidebar"
    data-turbo-frame-loader="eager"
    data-action="click->membercard#hideSidebar"
  >
    <img
      src=<%= member.avatar_url %>
      class="block w-10 h-10 rounded-lg self-center"
    >
    <span class="block self-center text-noto-18-700 text-grey-soft">
      <%= member.username %>
    </span>
  </a>

  <a class="block fill-white"
    href=<%= workspace_channel_member_options_path(workspace, channel, member) %>
    data-turbo-frame=<%="#{dom_id(user)}_#{dom_id(member)}_options"%>
    data-turbo-frame-loading="eager"
    data-controller="member-card"
    data-action="click->member-card#showOptions"
    data-member-card-member-id-value=<%="#{dom_id(user)}_#{dom_id(member)}_options"%>
  >
    <%= render(Primer::Beta::Octicon.new(:"kebab-horizontal", size: :medium)) %>
  </a>


  <%= turbo_frame_tag(
    "#{dom_id(user)}_#{dom_id(member)}_options",
    class:"w-full
          h-full
          absolute
          z-10
          bg-gradient-to-l from-black to-transparent
          flex
          justify-end
          items-center
          fill-white
          py-2
          gap-4
          hidden",
    data: {
      controller: "member-card",
      member_card_member_id_value: "#{dom_id(user)}_#{dom_id(member)}_options"
    }
  ) %>

  <div
    class="absolute h-2 w-2 z-10 bg-red rounded-full hidden"
    id=<%="#{dom_id(user)}_#{dom_id(member)}_new_message_signal"%>
  ></div>
</div>
