<div class="flex w-full justify-between items-center relative"
  id=<%="#{dom_id(user)}_#{dom_id(member)}_member_card"%>
  data-controller="membercard"
  data-membercard-optionslistid-value=<%="#{dom_id(user)}_#{dom_id(member)}_options"%>
>
  <a
    class="block w-full flex gap-7 justify-start"
    href=<%= workspace_user_path(workspace, member) %>
    data-turbo-frame="tool_sidebar"
    data-turbo-frame-loader="eager"
  >
    <img
      src=<%= member.avatar_url %>
      class="block w-10 h-10 rounded-lg self-center"
    >
    <span class="block self-center text-noto-18-700 text-grey-soft">
      <%= member.username %>
    </span>
  </a>

  <button class="block
                fill-white"
    data-action="click->membercard#showOptions"
  >
    <%= render(Primer::Beta::Octicon.new(:"kebab-horizontal", size: :medium)) %>
  </button>

  <div
    class="w-full
          h-full
          absolute
          z-10
          bg-gradient-to-l from-black to-transparent
          flex
          justify-end
          items-center
          fill-white
          py-2
          gap-4
          hidden"
    id=<%="#{dom_id(user)}_#{dom_id(member)}_options"%>
  >
    <%= render(
      partial: 'partials/workspace_channel/member_card_options',
      locals: {
        workspace:,
        member:,
        user:,
        channel:,
      }
    ) %>
  </div>
  <div
    class="absolute h-2 w-2 z-10 bg-red rounded-full hidden"
    id=<%="#{dom_id(user)}_#{dom_id(member)}_new_message_signal"%>
  ></div>
</div>
