<div class="flex flex-col gap-2">
  <% members.each do |member| %>
    <% next if member == current_user %>
      <input
        type="checkbox"
        value=<%= member.id %>
        name=<%= "#{resource}[#{field}][]" %>
        id=<%= "#{resource}_#{field}_#{member.id}" %>
        class="hidden hidden-option-for-card"
      >
      <label
        class="block flex gap-2 w-full py-4 px-6 border rounded text-white"
        for=<%= "#{resource}_#{field}_#{member.id}" %>
      >
        <img
          src=<%= member.avatar_url %>
          alt=<%= member.username %>
          class="w-8 h-8 rounded-full self-center"
        >
        <span class="block self-center text-base font-sans">
          <%= member.username %>
        </span>
      </label>
  <% end %>
</div>
