<div class="flex gap-2 w-full text-white font-sans text-base relative" 
     id=<%= "#{dom_id(workspace)}_invitation" %>
>
  <a
    href=<%= workspace_path(workspace) %>
    class="block flex w-full gap-2 border border-grey py-4 px-4 rounded-lg bg-black hover:border-blue"
    data-turbo="false"
  >
    <img
      src=<%= workspace.avatar_url %>
      width="40"
      class="rounded border-black-dark"
    >
    <span class="block self-center">
      <%= workspace.name %>
    </span>
  </a>
  <% if policy(workspace).create_invitation? %>
    <a
      href=<%= workspace_invitations_path(workspace) %>
      class="block
             flex
             justify-center
             items-center
             border
             border-grey
             p-4
             rounded-lg
             bg-black
             hover:border-blue
             fill-white"
      data-turbo-method="post"
    >
      <%= render(Primer::Beta::Octicon.new(:"person-add", size: :medium)) %>
    </a>
  <% end %>
</div>
