<div class="mx-auto self-center w-full sm:w-1/4">
  <h2 class="block text-white mb-12 text-center text-l">CREATE YOUR ACCOUNT</h2>

  <%=
    form_with(
      model: @user,
      url: user_registration_path(@user),
      class: "flex flex-col gap-4"
    ) do |form| 
  %>

      <%= render partial: 'partials/form_fields/email', locals: {
        form:,
        model_field: :email,
        resource:,
        placeholder: nil
      } %>

      <%= render partial: 'partials/form_fields/username', locals: {
        form:,
        model_field: :username,
        resource:,
        placeholder: nil
      } %>

        <%= render partial: 'partials/form_fields/password', locals: {
          form:,
          model_field: :password,
          resource:,
          placeholder: nil
        } %>

        <%= render partial: 'partials/form_fields/password_confirmation', locals: {
          form:,
          model_field: :password_confirmation,
          resource:,
          placeholder: nil
        } %>

      <div class="flex flex-col gap-1 mt-6">
        <%= form.submit "Sign up", class: "block btn rounded-t-lg" %>
        <span class="block text-center text-white text-sm"> or </span>
        <%= link_to "Sign in", new_user_session_path, turbo: false, class: "block btn w-auto bg-grey-soft rounded-b-lg hover:bg-blue" %>
      </div>
  <% end %>
</div>

