<div class="mx-auto self-center w-3/5">
  <h2 class="block text-white mb-6 text-center text-xl">create yout account</h2>

  <%=
    form_with(
      model: @user,
      url: user_registration_path(@user),
      class: "flex flex-col gap-2"
    ) do |form| 
  %>

      <%= render partial: 'partials/form_fields/email', locals: {
        form:,
        model_field: :email,
        resource:,
        placeholder: nil
      } %>

      <%= render partial: 'partials/form_fields/username', locals: {
        form:,
        model_field: :username,
        resource:,
        placeholder: nil
      } %>

      <%= render partial: 'partials/form_fields/password', locals: {
        form:,
        model_field: :password,
        resource:,
        placeholder: nil
      } %>

      <%= render partial: 'partials/form_fields/password_confirmation', locals: {
        form:,
        model_field: :password_confirmation,
        resource:,
        placeholder: nil
      } %>

      <div class="flex justify-between mt-4">
        <%= form.submit "Sign up", class: "block btn" %>
        <%= link_to "Log in", new_user_session_path, turbo: false, class: "block btn w-auto bg-grey-soft hover:bg-blue" %>
      </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>

