<div class="mx-auto self-center">
  <h2 class="text-white">create yout account</h2>

  <%= form_for(
    :user,
    as: resource_name,
    url: registration_path(resource_name)) do |f| %>

    <%= render partial: 'partials/form_fields/email', locals: {
      form: f,
      model_field: :email,
      resource:
    } %>

    <%= render partial: 'partials/form_fields/username', locals: {
      form: f,
      model_field: :username,
      resource:
    } %>

    <%= render partial: 'partials/form_fields/password', locals: {
      form: f,
      model_field: :password,
      resource:
    } %>

    <%= render partial: 'partials/form_fields/password_confirmation', locals: {
      form: f,
      model_field: :password_confirmation,
      resource:
    } %>

    <div class="actions btn">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>

